/*set style for main-container-div*/
.main-container {
  display: flex;
  padding: 32px;
}
.welcome-text {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
}

/*set style for item-container-div*/
.product-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
  margin: 0;
  padding: 0 32px;
}

.shopping-card{
  width: calc(25% - 24px); /* 25% für vier Spalten minus den Abstand */
  min-width: 250px; /* Mindestbreite, um responsiv zu bleiben */
  box-sizing: border-box; /* Verhindert Layout-Verschiebungen */
}

/* set dynamic screen-size */
@media(max-width: 850px) {
  .product-container {
    flex-direction: column;
  }
  .shopping-card {
    width: 100%; /* Nimmt die volle Breite bei kleinen Displays */
  }
}
Producnt .description {
  white-space: pre-line;
}

.checkout-page {
  margin: 32px;
}
.btn-plus{
  margin-left: 16px;
  margin-right: 3px;
}
.btn-minus {
  margin-right: 16px;
}
.items {
  margin-top: 3px;
}

.navbar {
  background-color: mediumblue;
  margin: 0;
  margin-bottom: 16px;
  .navbar-brand{
    color: white;
  }
}
